html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: scroll;
  background-color: #105868;
}

#container {
  position: relative;
  margin: 0px;
  min-width: 890px;
  min-height: 580px;
  display: flex;
  flex: 1 1 auto;
  background-color: #105868;
}

#gamegrid {
  position: relative;
  margin: 10px;
  width: 108vh;
  height: 90vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  z-index: 1;
}

.square {
  width: 100%;
  height: 100%;
  /* border: 1px solid #999; */
  justify-content: center;
  align-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  -webkit-box-shadow:inset 0px 0px 1px 1px rgb(150, 150, 150);
    box-shadow:inset 0px 0px 1px 1px rgb(150, 150, 150);
}

p {
  font: 1em sans-serif;
  color: rgb(0, 100, 0);
  margin-top: 5px;
  margin-left: 5px;
}

#qb {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover; /* Resize the background image to cover the entire container */
  background-color: rgb(190, 150, 90);
  transition: all 1.5s ease;
  z-index: 3;
}

#controlpanel {
  margin: 10px;
  width: auto;
  height: 90vh;
  display: flex;
  flex-flow: column wrap;
}

#cmdcenter{
  display: flex;
  flex-flow: column nowrap;
}

#cmdpanel {
  display: flex;
  flex-flow: row nowrap;
}

#cmdgrid {
  position: relative;
  margin: 0px;
  background-color: rgb(120, 180, 180);
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  direction: rtl;
  z-index: 1;
}

#fngrid {
  position: relative;
  margin-left: 5px;
  background-color: rgb(160, 210, 210);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  z-index: 1;
}

.cmdslot {
  margin: 3px;
  width: 40px;
  height: 40px;
  background-image: url('images/BGArrow.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#startBTN {
  margin-top: 5px;
  height: 40px;
  align-self: stretch;
  font-weight: bold;
  background-color: yellowgreen;
}

.button {
  margin-top: 10px;
  height: 30px;
  align-self: stretch;
  font-weight: bold;
  background-color: rgb(100, 200, 200);
}

#icongrid {
  position: relative;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  z-index: 1;
}

.iconslot {
  margin: 2px;
  width: 40px;
  height: 40px;
}

.forward {
  width: 40px;
  height: 40px;
  background-image: url('images/FArrow.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 3;
}
.turnright {
  width: 40px;
  height: 40px;
  background-image: url('images/RArrow.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 3;
}
.turnleft {
  width: 40px;
  height: 40px;
  background-image: url('images/LArrow.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 3;
}

.negate {
  width: 40px;
  height: 40px;
  background-image: url('images/Negate.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 3;
}

.func {
  width: 40px;
  height: 40px;
  background-image: url('images/fnsign.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  z-index: 3;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: scroll;
    position: absolute;
    top: 100%;
    left: 0;
  }
}